<div id="player"></div>
<h4 class="name"></h4>

<script>
  var tag = document.createElement('script');

  tag.src = "//www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  var player;
  function onYouTubeIframeAPIReady() {
    player = new YT.Player('player', {
      height: '390',
      width: '640',
      events: {
        'onReady': onPlayerReady,
        'onStateChange': onPlayerStateChange
      }
    });
  }

  function getRandomVideo() {
    $.get('/next_id', function (data) {
      playVideo(data);
    });
  }

  function playVideo(data) {
    $('.name').html(data.name);
    player.loadVideoById({videoId: data.id});
  }

</script>
