<h1><%= link_to @page['name'], @page['link'], :target => '_blank' %></h1>
<h4><%= @page['about'] %></h4>

<%= render 'player' %>
<a href="#" class="video-next">próximo</a>

<script>
  $(function () {
    $('.video-next').click(function (ev) {
      ev.preventDefault();
      getRandomVideo();
    });
  });
</script>
