<h1><%= link_to @page['name'], @page['link'], :target => '_blank' %></h1>
<h4><%= @page['about'] %></h4>

<%= render 'player' %>
<a href="#" class="video-next">próximo</a>

<script>
  function onPlayerReady(event) {
    getRandomVideo();
  }

  function onPlayerStateChange(event) {
    if (event.data == YT.PlayerState.ENDED) {
      getRandomVideo();
    }
  }

  $(function () {
    $('.video-next').click(function (ev) {
      ev.preventDefault();
      getRandomVideo();
    });
  });
</script>
